<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>登入 - Admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{__PLUG_PATH}/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="{__PLUG_PATH}/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="{__PLUG_PATH}/layuiadmin/style/login.css" media="all">
</head>

<body>
    <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>Admin</h2>
            </div>
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                <form action="{:url('admin/login/verify')}" method="post" class="layui-form login-form">
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                        <input type="text" name="username" id="LAY-user-login-username" lay-verify="required" placeholder="用户名" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                        <input type="password" name="password" id="LAY-user-login-password" lay-verify="required" placeholder="密码" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-row">
                            <div class="layui-col-xs7">
                                <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
                                <input type="text" name="verify" id="LAY-user-login-vercode" lay-verify="required" placeholder="图形验证码" class="layui-input">
                            </div>
                            <div class="layui-col-xs5">
                                <div style="margin-left: 10px;">
                                    <img src="{:Url('captcha')}" class="layadmin-user-login-codeimg" id="" alt="captcha" onclick="this.src='/admin/login/captcha?id=' + Math.random()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button type="submit" class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登 录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{__PLUG_PATH}/layuiadmin/layui/layui.js"></script>
    <script>
    layui.config({
        base: '{__PLUG_PATH}/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user'], function() {
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            form = layui.form,
            router = layui.router(),
            search = router.search;

        form.render();

        //提交
        form.on('submit(LAY-user-login-submit)', function(obj) {

            //请求登入接口
            $.ajax({
                url: "{:url('admin/login/verify')}",
                dataType: "json",
                data: obj.field,
                type: "POST",
                success: function(result) {
                    if (result.code == 0) {
                        layer.msg(result.message, {
                            icon: 2,
                            time: 2000
                        });
                    }

                    if (result.code == 1) {
                        layer.msg(result.message, {
                            icon: 1,
                            time: 1000
                        }, function() {
                            location.href = result.data; //后台主页
                        });
                    }
                },
                error: function() {
                    //请求出错处理
                }
            });
            return false;
        });
    });
    </script>
</body>

</html>